<div class="h-[39rem] w-[250px] border-r-2">
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Dashboard</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Income</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Expence</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Budgeting</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Goals</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Profile</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Settings</button>
    </div>
    <div class="h-[70px] w-[240px] bg-white flex items-center justify-center">
        <button class="h-[50px] w-[200px] bg-[rgb(194,231,255)] rounded-[10px] hover:shadow-lg shadow-indigo-500/50">Logout</button>
    </div>
</div>