<div class="h-[80px] w-[100%] bg-white flex items-center border-b-2">
    <div class="h-[50px] w-[200px] flex items-center gap-[10px] mx-[50px]">
        <img src="/assets/images/moneytrakerlogo.png" alt="" class="h-[50px] w-[50px]">
        <h1 class='font-bold'>MONEY TRACKER</h1>
    </div>
    <div class="h-[50px] w-[250px] flex gap-[30px] items-center font-semibold mx-[400px] ">
        <h1 class="hover:text-[rgb(92,146,183)] font-semibold">Home</h1>
        <h1 class="hover:text-[rgb(92,146,183)] font-semibold">About</h1>
        <h1 class="hover:text-[rgb(92,146,183)] font-semibold">Contact Us</h1>
    </div>
    <div class="h-[100px] w-[200px] flex items-center">
        <button class="bg-[rgb(194,231,255)] h-[40px] text-black w-[150px] rounded-[30px] font-semibold hover:shadow-lg shadow-indigo-500/50">New Transaction</button>
    </div>
</div>